*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
  }
// Header ----------------------------------------------------------------------------------------------------------------------------------------

header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

        img {
            height: 100px;
            margin: 0 80px;
        }

        li {
        display: inline-block;
        margin: 0 15px;
        
        &.active a {
            border-bottom: 5px solid #0282f9;
            color: #0282f9
        }

        a {
            text-decoration: none;
            padding-bottom: 48px;
            color: black;
        }
        }
  }


// Jumbo ----------------------------------------------------------------------------------------------------------------------------------------
#jumbotron {
    background-image: url("/storage/jumbotron.jpg");
    background-size:cover ;
    height: 400px;
}


// Home ----------------------------------------------------------------------------------------------------------------------------------------

#container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  #current-series {
    background-color: #0282f9;
    color: #fff;
    padding: 20px 30px;
    position: absolute;
    top: -29px;
    left: 0px;
  }
  
  #btn-more {
    margin: 30px auto;
    color: white;
    font-size: 22px;
    background-color: #0282f9;
    padding: 10px 55px;
  }

  .serie {
    color: #fff;
    margin-top: 55px;
    width: calc(100% / 6);
    padding: 0 20px;
        
        .serie-img {
            width: 100%;
            overflow: hidden;

            img {
            
            max-height: 200px;
            }
        }

        .serie-name {
            margin-top: 20px;
        }
}

//Fumetto contenuto--------------------------------------------------------------------------------------------------------------------------------------
#background-blue-bar{
  background-color: #0282f9;
  height: 80px;
}
#container-fumetto{
  margin: 0px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#color-white{
  background-color: white;
  padding: 50px 0;
  position: relative;
  #ads{
    height: 250px;
  }
  p{
    margin-right: 30px;
  }
  #fumetto-img{
    width: 150px;
    position: absolute;
    top: -260px;
    left: 300px;
  }
}
#green-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: chartreuse;
  margin: 20px 80px 20px 0;
  #left-halfbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 20px;
    border-right: 1px solid gray;
  }
  #right-halfbar{
    width: 20%;
    display: flex;
    justify-content: center;
  }
}

#color-light-blue{
  background-color: lightblue;
  #talents-specs{
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
    width: 70%;
    #talents{
      width: 50%;
    }
    #specs{
      width: 50%;
    }
    #more-info{
      display: flex;
      justify-content: space-between;
      padding: 20px 30px 0 0 ;
      .subtitle{
        width: 30%;
      }
      .details{
        width: 70%;
      }
    }
  }
}

#blue-bar {
    height: 150px;
    background-color: #0282f9;
    color: #fff;
    display: flex;
    justify-content: center;
      .buy-comics {
        display: flex;
        align-items: center;
        margin: 0 30px;
          img {
            width: 50px;
          }
          
          span {
            margin-left: 15px;
          }
      }
  }

  // Footer ----------------------------------------------------------------------------------------------------------------------------------------
  #footer-menu {
    background-image: url("/storage/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    height: 400px;
  
      nav {
        padding: 45px 0;
        display: flex;
        
          div {
            margin: 0 10px;
          }
        
      }
  
      h3 {
        color: white;
        margin-bottom: 10px;
      }
  
      ul {
        list-style-type: none;
        margin-bottom: 10px;
      }
  
      li {
        color: #5b6f7b;
        margin: 2px 0;
      }
  }
  
  #logo-footer {
    img {
      width: 600px;
      height: 100%;
      object-fit: none;
    }
  
  }
  
  #footer-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #303030;
    padding: 30px 0;
  
      .sign-up {
        padding: 10px 20px;
        color: #fff;
        border: 2px solid #0282f9;
      }
  
      .socials {
        color: #0282f9;
        font-size: 20px;
        display: flex;
        align-items: center;
          span {
            margin-right: 20px;
          }
          
          img {
            margin: 0 10px;
            width: 50px;
          }
      }
  }
 



